apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-bkju
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/tkrw-pr712-0075-0033-tenant/tkrw-pr712-0075-0033-app/devfile-sample-bkju@sha256:d0841817ce9855caf0ee09de926d7c4ee0f581f413c32f46679b9fdd87e88a05
        name: my-nodejs
        resources: {}
status: {}
